<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.s15.group1.attendancetrackerteacher">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttendanceTrackerTeacher">
        <activity
            android:name=".EditAccountSecurityActivity"
            android:exported="true" />
        <activity
            android:name=".CreateMeetingView"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationView"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditCourse"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterFormActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterTeacherActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleMeetingView"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AcceptStudents"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreateCourse"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SingleClassView"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClasslistActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>